build/
VoiceKeyCore/rust/target/
VoiceKeyCore/VoiceKeyCoreFFI.xcframework/
Pinyin/.cache/
Pinyin/RimeFFI.xcframework/
Pinyin/Sources/Pinyin/RimeData/
.swiftpm/
*.xcodeproj/
DerivedData/
*.a
*.xcframework/
*.xcresult/
*.xcarchive/
*.ipa
*.dSYM/
*.dSYM.zip
xcuserdata/
.DS_Store
AuthKey_*.p8
*.p12
*.cer
*.mobileprovision
*.provisionprofile
